@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mainFont";
  src: url("../../public/BungeeSpice-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "otherFont";
  src: url("../../public/RussoOne-Regular.ttf") format("truetype");
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "otherFont", "serif";
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
  background-color: "#0FCD3A";
}

@media screen and (min-width: 800px) {
  body {
    width: 100%;
    box-sizing: border-box;
    font-family: "otherFont", "serif";
    font-size: 2rem;
    margin: 0;
    padding: 0;
    background-color: "#0FCD3A";
  }
}
