@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mainFont";
  src: url("../../public/BungeeSpice-Regular.ttf") format("truetype");
}

body {
  width: 100%;
  box-sizing: border-box;
  font-family: "monospace", "serif";
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: "#0FCD3A";
}
